body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fce4ec;
}

h1 {
    color: #d81b60;
}

#map {
    height: 500px;
    width: 80%;
    margin: auto;
    border-radius: 10px;
}

#image-container {
    margin-top: 20px;
}

#display-image {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

#image-description {
    font-size: 18px;
    color: #d81b60;
}
